@layer {
  @tailwind base;
}
@tailwind components;
@tailwind utilities;

:root {
  --sb-track-color: #2c2c2c;
  --sb-thumb-color: #9f9f9f;
  --sb-size: 10px;
}

*::-webkit-scrollbar {
  width: var(--sb-size);
}

*::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 5px;
}

*::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 5px;
}

@supports not selector(::-webkit-scrollbar) {
  * {
    scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
  }
}

#navbar::-webkit-scrollbar {
  width: 5px;
}
